@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap");
/****
font-family: "Encode Sans Expanded", sans-serif;
****/
/*** site general styles ****/
body {
  font-family: "Encode Sans Expanded", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*** buttons styles ***/
.btn {
  -webkit-appearance: none;
  border-radius: 20px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 16px;
  padding: 12px 24px;
  text-align: center;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.1);
}
.btn-success {
  border: 0;
  background-color: #47d7ac;
  color: #13294b;
}
.btn-success:hover {
  background-color: #badcd3;
  color: #13294b;
}
.btn-primary {
  border: 0;
  background-color: #13294b;
}
.btn-primary:hover {
  background-color: #2e008b;
}
.btn-white {
  background: #fff;
  color: #13294b;
}
.btn-white:hover {
  background-color: #47d7ac;
  color: #fff;
}
.btn-outline-white {
  border: 1px solid #989da9;
  color: #fff;
}
.btn-outline-white:hover {
  background-color: #989da9;
  border: 1px solid #989da9;
  color: #fff;
}

/*** font sizes and weight styles ****/
h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
}

h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
}

.BH-small-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
}
.BH-title {
  font-size: 40px;
  line-height: 100%;
  font-weight: 500;
}
.BH-big-title {
  font-size: 50px;
  line-height: 120%;
  font-weight: 500;
}

/**** texts style *****/
.text-light-green {
  color: #47d7ac;
}
.text-small {
  font-size: 14px;
  line-height: 124%;
}
.text-big {
  font-size: 20px;
  line-height: 140%;
}
.text-medium {
  font-weight: 500;
}

/*** background styles ****/
.bg-blue {
  background: #13294b;
}
.bg-light-blue {
  background: #2e008b;
}

/*** blog-box styles ***/
.blog-box {
  border-left: 1px solid #eff1f4;
}
.blog-box .blog-img {
  position: relative;
  overflow: hidden;
}
.blog-box .tag {
  color: #47d7ac;
  line-height: 1;
  margin-bottom: 15px;
  font-weight: 700;
}
.blog-box img {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin-left: -1px;
}
.blog-box .box-body {
  padding: 24px;
}
.blog-box .box-body .blog-name,
.blog-box .box-body .tag-title {
  font-weight: 500;
  line-height: 130%;
  transition: all 0.3s ease-in-out;
}
.blog-box .box-body .tag-title {
  color: #2e008b;
  margin-right: 24px;
}
.blog-box .box-body .blog-date {
  color: #6c7689;
  line-height: 150%;
}
.blog-box:hover img {
  transform: scale(1.2);
}
.blog-box:hover .blog-name {
  text-decoration: underline;
}

/*** more links styles ***/
.link-more {
  display: inline-block;
  font-weight: 500;
  line-height: 130%;
  padding-right: 25px;
  position: relative;
  color: #13294b;
}
.link-more::after, .link-more::before {
  background-repeat: no-repeat;
  content: " ";
  position: absolute;
}
.link-more::before {
  background-image: url("../images/general/arrow-stick.svg");
  background-size: 100% 100%;
  bottom: -10px;
  height: 10px;
  right: 0;
  transition: width 0.3s, right 0.3s;
  width: calc(100% - 25px);
}
.link-more::after {
  background-image: url("../images/general/arrow-head.svg");
  background-size: 100%;
  bottom: -9px;
  height: 12px;
  right: -10px;
  transition: right 0.3s;
  width: 9px;
}
.link-more:hover::before {
  right: -13px;
  width: calc(100% - 12px);
}
.link-more:hover:after {
  right: -27px;
}

/**** navbar styles ***/
.navbar {
  background: transparent !important;
  padding: 28px 0;
  z-index: 2;
}
.navbar .navbar-brand {
  position: relative;
  margin: 0;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.navbar .navbar-brand::after {
  content: "";
  display: block;
  background: #c1c6c8;
  flex: 1;
  height: 1px;
  width: 87px;
  margin-left: 30px;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
  font-weight: 500;
  line-height: 130%;
  padding: 0;
  margin-right: 30px;
}
.navbar .dropdown-toggle::after {
  display: none;
}

.BH-hero {
  margin-top: -108px;
}
.BH-hero .carousel .carousel-item {
  min-height: 100vh;
  background-size: cover !important;
  background-position: top right !important;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 25vh;
}
.BH-hero .carousel .carousel-item:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: radial-gradient(46.15% 106.11% at 62.67% 30.5%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.BH-hero .carousel .carousel-item .container {
  position: relative;
  z-index: 1;
  /* display: flex;
  flex-direction: column;
  justify-content: center;*/
}
@media (min-width: 1281px) {
  .BH-hero .carousel .carousel-item .content-box {
    max-width: 730px;
  }
}
.BH-hero .carousel .carousel-item .title {
  font-size: 20px;
  line-height: 140%;
  font-weight: 500;
  opacity: 0.6;
  margin-bottom: 36px;
}
.BH-hero .carousel .carousel-item h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 16px;
}
.BH-hero .carousel .carousel-item .describe {
  max-width: 550px;
}
.BH-hero .carousel .carousel-item .btn {
  margin-top: 36px;
  border-radius: 32px;
  padding: 19px 24px;
}
.BH-hero .carousel .carousel-indicators {
  max-width: 1100px;
  margin: 0 auto;
  bottom: 30px;
}
.BH-hero .carousel .carousel-indicators [data-bs-target] {
  flex: 1 0 0;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  background: transparent;
  opacity: 1;
  text-align: initial;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  text-indent: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
}
.BH-hero .carousel .carousel-indicators [data-bs-target] hr {
  opacity: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin: 12px 0;
}
.BH-hero .carousel .carousel-indicators .active {
  color: #fff;
}
.BH-hero .carousel .carousel-indicators .active hr {
  border-color: rgb(255, 255, 255);
}
.BH-tagline {
  padding-top: 150px;
  padding-bottom: 150px;
}
@media (min-width: 768px) {
  .BH-tagline .content {
    max-width: 60%;
    padding-left: 3%;
  }
}
.BH-tagline h4 {
  margin-bottom: 16px;
}
.BH-our-stories {
  padding-top: 150px;
  padding-bottom: 100px;
}
.BH-our-stories .container-fluid {
  max-width: 1400px;
  margin: 0 0 0 auto;
  padding-right: 0;
}
.BH-our-stories .headline {
  color: #6c7689;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  max-width: 700px;
  margin-bottom: 80px;
}
.BH-our-stories .content h4 {
  margin-bottom: 36px;
}
.BH-our-stories .content .text-small {
  color: #6c7689;
  font-weight: 500;
}
.BH-our-stories .content .text-medium {
  color: #05051e;
  font-weight: 500;
  margin: 10px 0;
}
.BH-our-stories .content .btn {
  margin-top: 36px;
}
.BH-our-stories .slider-img {
  height: 55vh;
  min-height: 450px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
.BH-our-stories .work-slider .row {
  align-items: flex-end;
  margin: 0;
}
.BH-our-stories .work-slider .row .col-md {
  padding-right: 0;
}
@media (min-width: 768px) {
  .BH-our-stories .work-slider .col-md-auto {
    width: 100%;
    max-width: 495px;
  }
  .BH-our-stories .work-slider .col-md-auto .content {
    width: 100%;
    max-width: 450px;
    padding: 0 15px;
  }
}
.BH-our-stories .work-slider .slick-slide {
  padding-left: 80px;
  border-left: 1px solid #efeff2;
}
.BH-our-stories .work-slider .slider-arrow {
  position: absolute;
  top: 30px;
  color: rgb(19, 41, 75);
  font-size: 20px;
}
.BH-our-stories .work-slider .slider-arrow.left-arrow {
  left: -25px;
}
.BH-our-stories .work-slider .slider-arrow.right-arrow {
  left: 5px;
}
.BH-links {
  padding-top: 200px;
  padding-bottom: 200px;
}
.BH-links .BH-title {
  max-width: 500px;
  position: sticky;
  top: 100px;
}
.BH-links .links-box {
  background: rgba(16, 35, 65, 0.8);
  border-radius: 180px;
  padding: 84px 36px;
  text-align: center;
  position: relative;
  width: 370px;
}
.BH-links .links-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.BH-links .links-box ul li:not(:last-child) {
  border-bottom: 1px solid #fff;
}
.BH-links .links-box ul li h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.BH-links .links-box ul li .btn {
  margin-top: 36px;
  margin-bottom: 36px;
}
.BH-blogs {
  padding-top: 200px;
  padding-bottom: 200px;
}
.BH-blogs .container {
  max-width: 1085px;
}
.BH-blogs .col-md {
  background: url("../images/general/caring-bg.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 50px center;
}
.BH-blogs .section-content-box {
  max-width: 515px;
}
.BH-blogs .section-content-box .row {
  margin-top: 82px;
}
.BH-blogs .blog-box {
  border-color: rgba(255, 255, 255, 0.2);
}
.BH-blogs .blog-box .box-body {
  padding-bottom: 10px;
}
.BH-blogs .blog-box .blog-name {
  margin-bottom: 54px;
}
.BH-blogs .BH-title {
  max-width: 380px;
}
.BH-blogs .link-more {
  margin-top: 36px;
  display: inline-block;
  font-weight: 500;
  line-height: 130%;
  padding-right: 25px;
  position: relative;
  color: #fff;
}
.BH-blogs .link-more::after, .BH-blogs .link-more::before {
  background-repeat: no-repeat;
  content: " ";
  position: absolute;
}
.BH-blogs .link-more::before {
  background-image: url("../images/general/arrow-stick.svg");
  background-size: 100% 100%;
  bottom: -10px;
  height: 10px;
  right: 0;
  transition: width 0.3s, right 0.3s;
  width: calc(100% - 25px);
}
.BH-blogs .link-more::after {
  background-image: url("../images/general/arrow-head.svg");
  background-size: 100%;
  bottom: -9px;
  height: 12px;
  right: -10px;
  transition: right 0.3s;
  width: 9px;
}
.BH-blogs .link-more:hover::before {
  right: -13px;
  width: calc(100% - 12px);
}
.BH-blogs .link-more:hover:after {
  right: -27px;
}
.BH-careers {
  position: relative;
  z-index: 1;
}
.BH-careers video {
  /* position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.BH-careers .intro {
  position: relative;
  z-index: 1;
  min-height: calc(100vh - 110px);
  display: flex;
  align-items: center;
}
.BH-careers .intro .BH-title {
  max-width: 360px;
}
.BH-careers .content {
  background: rgba(19, 41, 75, 0.7);
  bottom: 0;
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 84px 0;
}
.BH-careers .content .container {
  max-width: 1085px;
}
.BH-careers .content .subtitle {
  font-size: 18px;
  line-height: 28px;
  color: #e0e3e8;
  max-width: 720px;
  margin: 0 auto 96px auto;
}
.BH-careers .content h4 {
  max-width: 470px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.BH-careers .content .text-big {
  margin: 10px 0;
}
.BH-careers .content svg {
  width: 100%;
}
.BH-feature-insights {
  padding-top: 178px;
}
.BH-feature-insights .BH-big-title {
  margin-bottom: 88px;
}
.BH-feature-insights .blog-box {
  height: 100%;
  margin-bottom: 48px;
}
.BH-feature-insights .blog-box img {
  height: 35vh;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  transition: all 0.3s ease;
  width: 100%;
}
.BH-feature-insights .blog-box .blog-name {
  margin-bottom: 24px;
  height: 65px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.BH-events {
  padding-bottom: 120px;
  padding-top: 113px;
}
.BH-events .row {
  margin-top: 84px;
}
.BH-events .event-img {
  position: relative;
  overflow: hidden;
}
.BH-events .event-img img {
  transition: all 0.3s ease-in-out;
}
.BH-events .event-img:hover img {
  transform: scale(1.2);
}
.BH-events .col-sm-6:not(:last-child) {
  border-right: 1px solid #e0e3e8;
}
.BH-events .event-box {
  display: block;
  height: 100%;
  color: gray;
  padding-left: 20px;
  padding-right: 20px;
}
.BH-events .event-box .event-date {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #2e008b;
  font-weight: 500;
}
.BH-events .event-box h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #13294b;
}
.BH-contact {
  padding: 148px 0;
}
.BH-contact .container {
  max-width: 1050px;
}
.BH-contact .BH-title {
  max-width: 530px;
}
.BH-contact .btn {
  width: 235px;
  display: block;
  margin-bottom: 10px;
}
.BH-subscribe {
  padding-top: 100px;
  padding-bottom: 100px;
}
.BH-subscribe .container {
  max-width: 1080px;
}
.BH-subscribe form {
  display: flex;
  align-items: center;
  height: 60px;
  border: 1px solid #4E5E78;
  box-sizing: border-box;
  border-radius: 44px;
  color: #6C7689;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
}
.BH-subscribe form .form-control {
  padding: 0;
  border: 0;
  background: transparent;
  flex: 1 0 0;
  box-shadow: none;
  outline: none;
}
.BH-subscribe form .btn {
  font-weight: 500;
}
.BH-subscribe form .btn:hover {
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */